.article {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: .3rem;
}

.article:hover {
    background-color: #ddd;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: .35rem .35rem 0 0;
}

.article div {
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {

    .article {
        flex-direction: row;
    }

    .article img {
        width: 6rem;
        height: auto;
        border-radius: .35rem 0 0 .35rem;
    }

}

.viewed div {
    padding: .5rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: .35rem;
    cursor: pointer;
}

.viewed div:hover {
    background-color: #eee;
}

.viewed h5 {
    margin: 0;
}

.viewed p {
    margin: .25rem 0 0 0;
}

/* Parte do exercício 1 */

.commented {
    display: block;
    text-align: right;
    font-size: .75rem;
    border-top: 1px dotted grey;
}